@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --animate-shimmer: shimmer 1.5s infinite;
    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}
